.dropdown-item {white-space: normal;}
  
a.dropdown-item:hover {
    background: #343a40;
    color: white;
}
#content-wrapper {padding: 15px;}

.btn, .form-control{ border-radius: 0%;}

.card { border: 0px }
.card-header { 
	cursor: pointer; 
	border: 0px; 
	background-color: #343a40; 
	color: white; 
	margin: 1rem 0 0 0; 
}