#error{color:red; font-family:Arial, Helvetica, sans-serif;}
#login-btn {width: 50%; margin-left: 78px; background: #1976D2;color: white;}
#gradient{ 

            background: #00b4db; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #00b4db, #0083b0); /* Chrome 10-25, Safari 5.1-6 */
			background: linear-gradient(to right, #00b4db, #0083b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		}
.container{
	margin-top: 150px;
}		